[data-theme="dark"] {
    background-color: blue !important;
}

[data-theme="light"] {
    background-color: green !important;
}

h1 {
    border: 1px solid black;
}

#dark-wrapper {
    border: 1px solid black;
    margin-top: -20px;
}

#button-wrapper {
    /* display: flex;
    justify-content: center; */
    border: 2px solid black;
    height: 80px;
    text-align: center;
}

.game-button {
    display: block;
    /* height: 20px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#game-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

#score-counter {
    text-align: center;
}
