[data-theme="dark"] {
    background-color: #695B58;
    color: white;
}

[data-theme="light"] {
    background-color: white;
    color: black;
}

h1 {
    /* border: 1px solid black; */
}

#dark-wrapper {
    /* border: 1px solid black; */
    /* margin-top: -20px; */
}

#button-wrapper {
    /* display: flex;
    justify-content: center; */
    border: 2px solid black;
    height: 80px;
    text-align: center;
}

.game-button {
    display: inline;
    /* height: 20px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#game-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

#score-counter {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 4px;
}

.top-10-container {
    /* display: inline; */
    width: 25vw;
}

table {
    border-collapse: collapse;
}

.table-row {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

.game-wrapper {
    /* border: 1px solid red; */
    /* position: relative; */
    /* top: 45%;
    left: 45%; */
}

@media only screen and (max-width: 660px) {
    .game-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
    }
    .top-10-container {
        display: block;
        text-align: center;
        width: 50%;
        margin: auto;
        margin-top: 420px;
    }
}

@media only screen and (max-width: 480px) {
    #game-canvas {
        width: 90vw;
        height: 90vw;
    }
}